name: Build Docker Images

on:
  push:
    branches:
      - master
      - dev
      - devfront
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Docker Build & Push to Docker Hub
      uses: opspresso/action-docker@master
      with:
        args: --docker
      env:
        USERNAME: ${{ secrets.DOCKER_USERNAME }}
        PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKERFILE: "config-server/Dockerfile"
        IMAGE_NAME: "evanndeb/config-server"
        TAG_NAME: "v0.0.1"
        LATEST: "true"
      
    - uses: azure/docker-login@v1
      name: build and push images
      with: 
        login-server: evanndeb
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - run: |
        docker build config-server/. -t evanndeb/config-server:${{ github.sha }}
        docker push evanndeb/config-server:${{ github.sha }}
    
    - name: Publish Eureka-server Images
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: evanndeb/eureka-server
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: eureka-server/Dockerfile
    
    - name: Publish Zuul-server Images
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: evanndeb/zuul-server
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: zuul-server/Dockerfile
    
    - name: Publish Microservice video
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: evanndeb/mvideo-client
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: microservice-video/microservice-video/Dockerfile
    
    - name: Publish Clientui Images
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: evanndeb/clientui-client
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: clientui/Dockerfile
    
    - name: Publish SpringAdmin Images
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: evanndeb/springadmin-server
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: springadmin/Dockerfile
